
header{
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
    z-index: 500;
    /*background: rgba(255,255,255,0.5);*/
    background: #fff;
   
}
header > div{
    width: 90%;
    margin: 0 auto;
    height: 70px;
}
header > div > img {
    margin-top: 10px;
    display: inline;
    cursor: pointer;
}
header > div > ul {
    position: absolute;
    top: 0px;
    right: 5%;
    width: 500px;
    _height: 70px;
}
header > div > ul > li {
    float: left;
    width: 25%;
    font-size: 20px;
    line-height: 70px;
    cursor:pointer;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
}
header > div > ul > li p {
    cursor: pointer;
}
header > div > ul > li.on {
    font-weight: bold
}
section{width: 100%;position: relative;}
article, footer {width: 90%; margin: 0 auto;}
#sec1 {
    height: 100vh;
    overflow: hidden;
}
#sec1 video {
    width: 100%;
}

#sec1 p.result{      
    display: inline-block;
    font-size:30px;
    line-height: 28px;
    box-sizing: border-box; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);    
}
#sec2 {
    margin-top: 50px;
    overflow: hidden;
}
#sec2 .canvas {
    height:820px;
    width: 90%;
    margin: 0 auto;
    _z-index: 1500;
    
    /*position: fixed;
    top: 150px;
    left: 5%;*/
}
#sec2 .canvas img{opacity: 0;}
#sec2 .canvas .top {
    width: 100%;
    transition: 2s;
}
#sec2 .canvas .lr{
    position: absolute;
    top: 0;
    right: 0;
    height: 820px;      
    transition: 4s;
}
#sec2 .canvas .ll{
    position: absolute;
    top: 0;
    left: 0;
    height: 820px;       
    transition: 2s;
}
#sec2 .canvas .lb{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    transition: 4s;
}
#sec2 .art1 h2{
    position: absolute;
    top: 20px;
    left: 45%; 
}
.effect-wrap {
	position: relative;
	display: flex;
	justify-content: center;
	_align-items: flex-start;
	perspective: 1000px;
    width: 320px;
    /*top: -650px;*/
    left: 40%;
    margin-left: -230px;
    margin-bottom: 40px;
    top: 150px
}
#sec2 .effect {
	position: relative;
	width: 320px; height: 450px;
}
#sec2 .effect img {
	width: 100%;
	transition: all 0.6s ease 0.2s;
	box-shadow: 1.5px 1.5px 3px rgba(0,0,0,0.4);
}
#sec2 .effect figcaption {
	position: absolute;
	bottom: 0%; left: 0;
	width: 100%;
	padding: 5% 5% 0% 5%;
	box-sizing: border-box;
	z-index: 1;
	line-height: 1.7em;
	font-size: 20px;
	opacity:1;
	transition: all 0.5s ease;
}
#sec2 .effect .front {
	position: absolute; 
    left: 0; 
    top: 0;
	transform : rotateY(0deg);
	width : 100%;
	height : 100%;
	cursor : pointer;
	z-index: 10;
	transition : transform 1s;
	backface-visibility : hidden;
}
#sec2 .effect .back {
	position: absolute; 
    left: 0; 
    top: 0;
	transform : rotateY(-180deg);
	width : 100%;
	height : 100%;
	cursor : pointer;
	transition : transform 1s;
	backface-visibility : hidden;
}
#sec2 .effect:hover .front {
	transform : rotateY(180deg);
}

#sec2 .effect:hover .back {
	transform : rotateY(0);
}
#sec2 .art1 ul {
    position: absolute;
    left: 50%;
    top: 190px;
    transform: translate(5%);
    _border: 1px solid;
}
#sec2 .art1 ul li{
    margin-bottom: 20px;            
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: bold
}
#sec2 .art1 ul li span {
    margin-left: 3px;
    font-size: 15px;
    font-weight: 500;
}
#sec2 .art1 .about_txt{   
    position: absolute;
    top: 600px;
    left: 40%;
    height: 200px;
    
    /*fixed 발생시 적용되는 스타일*/
    /*position: absolute;
    top: 650px;
    left: 40%;*/
}
/*section2 - article2*/
#sec2 .art2{
    height: 800px;
    border: none;
    _opacity: 0;
    z-index: 100;
    
    /*fixed 발생시 적용되는 스타일*/
    margin-top: 400px;
    _margin-bottom: 100px
}
#sec2 .art2 h2 {            
    color: #000;
    _text-align: center;
    
    /*fixed 발생시 적용되는 스타일*/
    position: absolute;
    left: 45%;
    
}
#sec2 .art2 ul {
  height: 680px;
}
#sec2 .art2> ul > li {
    position: absolute;
    width: 90%;
}
.view{
    position: absolute;
    right: 130px;
    top: 80px;
    width: 550px;
}
.slide_Up {
    position: absolute;
    width: 448px;
    height: 260px;
    right: 182px;
    top: 160px;
    background: url('../img/kintex.png');
    background-position: 0 0;
    background-size: 100% auto;            
    overflow: hidden;
    _cursor: pointer;
    animation: slide_move 5s;
}
.view:hover .slide_Up {
   
}
@keyframes slide_move {
    0%{background-position: 0 0;}
    50%{background-position: 0 50%;}
  100% {background-position: 50% 100%;}
}
#sec2 .art2 > ul > li > .explanation{
    width: 600px;
    margin: 150px 170px;
}
#sec2 .art2 ul li .explanation h3 {
    font-size: 35px;
    font-family: 'Roboto Mono', monospace;
}
#sec2 .art2 ul li .explanation p {
    line-height: 2.5;
    font-weight: bold;
}
#sec2 .art2 ul li .explanation p span {
    font-weight: 100;
}
#sec2 .art2 ul li .explanation p span.text {
    width: 540px;
    padding:0 10px;
    box-sizing: border-box;
    display: inline-flex;
    line-height: 2;
}
#sec2 .art2 ul li .explanation p:nth-child(6){
    margin-bottom: 60px
}
#sec2 .art2 ul li .explanation a {
    padding: 10px 30px;
}
#sec2 .art2 ul li .explanation a:nth-child(7){
    margin-left: 120px
}
#sec2 .art2 ul li .explanation a:last-child{
    margin-left: 20px;
}
#sec2 .art2 .btn_Box {
    position: absolute;
    left: 49%;
    bottom: 10%;
}
#sec2 .art2 .btn_Box p{    
    display: inline-block;
    text-indent: -9999px;        
    width: 25px;            
    border: 1px solid #d9d9d9;
    border-radius: 25px;
    margin-right: 20px;
    transition: 3s;
    cursor: pointer;
}
#sec2 .art2 .btn_Box p.tg{
    background: url(../img/tg.png);
    background-size: 90%;
    
}
.hh {
    width: 100%;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 10
}
.h-top {
    top: 0;
    background: #fff;
    height: 10vh;
    _background: pink;
    z-index: 100;
}
.h-bottom {
    height: 4.7vh;
    bottom: 0;
    background: #fff;
    _background: pink;
    z-index: 100;
}

/*
#sec4{
    overflow-x: hidden
}
*/

