* { margin:0; padding:0;box-sizing:border-box;}
.cf:after, .cf:before {content:'';display:block;clear:both; }
a {color:inherit; text-decoration: none}
img {border:none; max-width:100% }
ol, ul {list-style-type: none }
table { border-collapse:collapse;table-layout:fixed}
fieldset {border:none}
legend, caption { text-indent:-99999px; display:none }
body { font:16px ;font-family: 'NanumSquare', sans-serif;color:#333; 
 /*아래부터는 지워도 되는*/   
    -ms-overflow-style: none;
    color: #424242;
}
::-webkit-scrollbar { display: none; }

.title {font-size: 30px; text-align: center; }
.title::before, .title::after{display: inline-block; content: "";border-left: 1px solid #424242;height: 35px;vertical-align: middle; margin: 0 15px; transform: rotate(35deg);}
.title::before {margin-top: -25px}
.title::after {margin-top: 25px}
.txt{font-size: 20px; text-align: center; margin-top: 40px; letter-spacing: 5px}
.more i {
    vertical-align: middle;
    transition: 0.5s;
    transform: scaleX(0)
}
.more:hover i {
    color: #ec8f26;
    transform: scaleX(1)
}
