
.circle{
    position: fixed;
    display: block;
    border: 1px solid;
    border-radius: 50%;
}
.c1{
    width: 450px;
    height: 450px;
    left: 35%;
    top: 50%;
    border-color: #b3e6cc;
    background: #b3e6cc;
}
section{width: 100%;}
article{width: 80%;margin: 0 auto;max-width: 1600px; position: relative;}
.bg_site{
    background-image:url(../sub/ex.png);
    background-position: 0 -400px;
    background-color: #dbe5e7;
}
.content1{
   height: 600px;   
}
h2{
   margin: 50px 
}
h2 span{
    position: absolute;
    width: 45px;
    display: block;
    content: "";
    border-top: 2px solid;
    left: 0;
    margin-top: 10px;
}
.content1 img {
    position: absolute;
    left: 50%;
    transform: translateX(-100%);
    width:520px;
    height:450px;
    
}
.content1 h3{
    position: absolute;
    left: 48%;
    top: 50%;
    font-size: 28px;
    color: #fff
}
.content1 p {
    position: absolute;
    white-space: pre-wrap;
    letter-spacing: 3px;
    line-height: 2;
    font-size: 20px;
    color: #fff;
    top: 53%;
    left: 40%;
}
/*content2*/
.content2{    
    _background: #a6e0c6;
    _height: 1800px;
}
.subtitle{
    white-space: pre-line;
    line-height: 1.7;
    font-size: 20px;
    letter-spacing: 1px;
    margin:-60px 0 50px 50px  
}

.container {
    position: relative;
    left: 2.5%;
    margin-bottom: 50px
}
.right{
    left: -5px;
    text-align: right;
    border-bottom: 1px solid
}
.container b:nth-child(2){
    position: absolute;    
    left: 5px; 
    bottom: 27%;
    font-size: 25px;
    color: #fff;
    letter-spacing: 1px
}
.right b:nth-child(2){
    right: 5px;
    top: 67%
}
.c_last b:nth-child(2){
    top: 62%
}
.container b:nth-child(3){
    display: block;
    padding: 15px 5px;
    margin-bottom: -30px;
    font-size: 20px;
    letter-spacing: 1px
}
.container p {
    white-space: pre-line;
    padding: 0 5px;
    line-height: 2;
    font-size: 18px;
    letter-spacing: 1px
}
/*second*/
#second article{
    margin-top: 150px;
    background: #fff
}
.list{
    _clear: both;
    width: 100%;
    position: fixed;
    top: 190px
}
.list li {
    display: inline-block;
    padding: 12px;
    margin: 10px;
    border: 1px solid;
    text-align: center;
    border-radius: 25px;    
    background:#fff;
    position: relative;
}
.list li:nth-child(2){
    padding: 12px 28px
}
.list li:nth-child(3){
    padding: 12px 28px
}
.list li a{
    display: block;
    width: 100%;
}
.list li.tg {
    border-color:#ec8f26;
}
.list li:first-child a:after{
    display: inline-block;
    content:"";
    position: absolute;
    border-top: 1px solid; 
    width: 70vw;
    margin-left: 13px;
    top: 50%;
}
.history {
    margin-top: 140px;
    overflow-y: visible;
    overflow-x: auto;
}
.year{
    display: table-cell;
    min-width: 80vw;
}
.y1{background-color: #bacbe6}
.y2{background-color: #baded7}
.y3{background-color: #f0e8b9}
.y4{background-color: #b9c7f0}