
.circle{
    position: fixed;
    display: block;
    border: 1px solid;
    border-radius: 50%;
}
.c1{
    width: 450px;
    height: 450px;
    left: 35%;
    top: 50%;
    border-color: #b3e6cc;
    background: #b3e6cc;
}
section{width: 100%;}
article{width: 80%;margin: 0 auto;max-width: 1600px; position: relative;}
article * {transition: 1s}
.bg_site{
    background-image:url(../sub/ex.png);
    background-position: 0 -400px;
    background-color: #dbe5e7;
}
.content1{
   height: 750px;   
    transition: 1s
}
h2{
   margin: 50px 
}
h2 span{
    position: absolute;
    width: 45px;
    display: block;
    content: "";
    border-top: 2px solid;
    left: 0;
    margin-top: 10px;
}
.content1 img {
    position: absolute;
    left: 50%;
    transform: translateX(-100%);
    width:520px;
    height:450px;
    
}
.content1 h3{
    position: absolute;
    left: 48%;
    top: 30%;
    font-size: 28px;
    _color: #fff
}
.content1 p {
    position: absolute;
    white-space: pre-wrap;
    letter-spacing: 3px;
    line-height: 2;
    font-size: 20px;
    _color: #fff;
    top: 33%;
    left: 40%;
}
/*content2*/
.content2{    
    _background: #a6e0c6;
    _height: 1800px;
}
.subtitle{
    white-space: pre-line;
    line-height: 1.7;
    font-size: 20px;
    letter-spacing: 1px;
    margin:-60px 0 50px 50px  
}

.container {
    position: relative;
    left: 2.5%;
    margin-bottom: 50px
}
.right{
    left: -5px;
    text-align: right;
    border-bottom: 1px solid
}
.container b:nth-child(2){
    position: absolute;    
    left: 5px; 
    bottom: 27%;
    font-size: 25px;
    color: #fff;
    letter-spacing: 1px
}
.right b:nth-child(2){
    right: 5px;
    top: 67%
}
.c_last b:nth-child(2){
    top: 62%
}
.container b:nth-child(3){
    display: block;
    padding: 15px 5px;
    margin-bottom: -30px;
    font-size: 20px;
    letter-spacing: 1px
}
.container p {
    white-space: pre-line;
    padding: 0 5px;
    line-height: 2;
    font-size: 18px;
    letter-spacing: 1px
}
/*second*/
#second article{
    margin-top: 150px;
    background: #fff
}
.list{
    _clear: both;
    width: 100%;
    position: absolute;
    top: 60px
}
.list li {
    display: inline-block;
    _padding: 12px;
    _margin: 10px;
    border: 1px solid;
    text-align: center;
    _border-radius: 25px;    
    background:#fff;
    position: relative;
}
.list li:nth-child(2){
    padding: 12px 28px
}
.list li:nth-child(3){
    padding: 12px 28px
}
.list li a{
    display: block;
    width: 100%;
}
.list li.tg {
    border-color:#ec8f26;
}

.list li:first-child a:after{
    display: inline-block;
    content:"";
    position: absolute;
    border-top: 1px solid; 
    _width: 70vw;
    margin-left: 13px;
    top: 50%;
}

.history {
    margin-top: 140px;
    overflow-y: visible;
    overflow-x: auto;
}
.year{
    display: table-cell;
    min-width: 80vw;
}
.y1{background-color: #bacbe6}
.y2{background-color: #baded7}
.y3{background-color: #f0e8b9}
.y4{background-color: #b9c7f0}
@media screen and (min-width:1280px) and (max-width:1599px){ /*large pc*/
    /*cricle*/
    .c1{
        width: 450px;
        height: 450px;
        left: 35%;
        top: 50%;
        border-color: #b3e6cc;
        background: #b3e6cc;
    }
    article{width: 80%;}
    .content1{
       height: 750px;   
    }
    h2{
       margin: 50px 
    }
    .content1 img {
        width:450px;
        height:480px;        
        transform: translateX(-90%);
    }
    .content1 h3{
        position: absolute;
        left: 48%;
        top: 30%;
        font-size: 28px;
    }
    .content1 p {
        position: absolute;
        white-space: pre-wrap;
        letter-spacing: 3px;
        line-height: 2;
        font-size: 20px;
        _color: #fff;
        top: 32%;
        left: 37%;
    }
}
@media screen and (min-width:768px) and (max-width:1279px){ /*태블릿*/
    article{width: 90%}
    article * {transition: 1s}
    h2{margin: 40px}
    h2 span{width: 35px;}
    .content1{height: 700px;}
    .content1 img {width:350px;height:400px;}
    .content1 h3{left: 43%;font-size: 23px;}
    .content1 p {font-size: 16px;top: 33%;left: 31%}
}
@media screen and (max-width:767px){ /*mobile*/
    #bg p { display: none;}
    article{width: 90%;}
    section{overflow-x: hidden}
    .circle{display: none;}
    #bg{height: 200px;}
    .bg_site{background-position: 0 -400px;}
    .content1{height: 450px;}
    h2{margin:35px; font-size: 20px;}
    h2 span{width: 30px; margin-top: 9px}
    .content1 img {left: 0%;transform: none;width:100;height:220px; top: 8%}
    .content1 h3{left: 0%;top: 59%;font-size: 20px;}
    .content1 p {
        white-space:pre-line;
        letter-spacing: 2.5px;
        line-height: 2;
        font-size: 14px;
        _color: #fff;
        top: 60%;
        left: -0%;
    }
}